:root{
  --footer-height: 50px;
  --footer-copyright-font-size: 16px;
  --footer-copyright-color: #0e0e0e;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: var(--footer-height);
}

.footer__copyright {
  font-size: var(--footer-copyright-font-size);
  text-align: center;
  color: var(--footer-copyright-color);
}
