:root{
  --header-bg-color: #ffffff;
  --header-height: 60px;
  --header-logo-widht: 120px;
  --header-notification-width: 20px;
  --header-dropdown-size: 35px;
  --header-avatar-bg-color: #f3993e;
  --header-avatar-color: #ffffff;
  --header-popup-width: 150px;
  --header-popup-bg-color: #ffffff;
  --header-username-font-size: 13px;
  --header-username-color: #9ba6b2;
  --header-nav-item-font-size: 14px;
  --header-nav-item-color: #0c0c0c;
  --header-nav-item-hover-bg-color: #f8f9fc;
}

.header {
  position: fixed;
  z-index: 10;

  width: 100%;

  background-color: var(--header-bg-color);

  -webkit-animation-name: header-animation;
          animation-name: header-animation;
  -webkit-animation-duration: 0.75s;
          animation-duration: 0.75s;
}


@-webkit-keyframes header-animation {
  from {
    top: -60px;
  }

  50% {
    top: -30px;
  }

  to {
    top: 0;
  }
}


@keyframes header-animation {
  from {
    top: -60px;
  }

  50% {
    top: -30px;
  }

  to {
    top: 0;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
}

.header__logo {
  width: var(--header-logo-widht);
}

.header__menu {
  display: flex;
}

.header__notification {
  margin-top: 5px;
  margin-right: 25px;
  padding: 0;

  background: none;
  border: none;
  cursor: pointer;
}

.header__notification:focus{
  outline: none;
}

.header__notification img {
  width: var(--header-notification-width);

  transition: 0.15s;
}

.header__notification img:hover {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.header__dropdown {
  position: relative;

  width: var(--header-dropdown-size);
  height: var(--header-dropdown-size);
}

.header__dropdown__checkbox {
  position: absolute;
  z-index: 2;

  width: 100%;
  height: 100%;

  cursor: pointer;
  opacity: 0;
}

.header__avatar {
  width: 100%;
  height: 100%;
  padding: 0;

  font-size: 20px;
  color: var(--header-avatar-color);

  background-color: var(--header-avatar-bg-color);
  border: none;
  border-radius: 50%;

  transition: 0.15s;
}

.header__dropdown__checkbox:hover ~ .header__avatar {
  -webkit-filter: brightness(0.9);
          filter: brightness(0.9);
}

.header__popup {
  position: absolute;
  top: calc(var(--header-dropdown-size) + 5px);
  right: 0;
  z-index: 101;

  display: none;
  box-sizing: border-box;
  width: var(--header-popup-width);
  padding: 5px 15px;

  background-color: var(--header-popup-bg-color);
  box-shadow: -1px 5px 17px -7px rgba(0,0,0,0.23);
}

.header__dropdown__checkbox:checked ~ .header__popup {
  display: block;
}

.header__username {
  margin-bottom: 0;
  padding-bottom: 7.5px;

  font-size: var(--header-username-font-size);
  text-align: center;
  color: var(--header-username-color);

  border-bottom: 1px solid var(--header-username-color);
}

.header__nav {
  padding: 10px 0;
}
.header__nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header__nav__item {
  padding: 5px 0;

  transition: 0.30s;
}

.header__nav__item:hover {
  background: var(--header-nav-item-hover-bg-color);
}

.header__nav__item a {
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0 5px;

  font-size: var(--header-nav-item-font-size);
  color: var(--header-nav-item-color);
  text-decoration: none;
}