:root{
  --main-bg-color: #f8f9fc;
  --wrapper-padding: 20px;
}

body {
  position: relative;

  font-family: "Roboto", sans-serif;

  background-color: var(--main-bg-color);
}

.wrapper {
  padding: 0 var(--wrapper-padding);
  height: 100%;
  margin: 0 auto;
}

@media (min-width: 659px) {
  :root{
    --wrapper-padding: 35px;
  }
}

@media (min-width: 768px) {
  :root{
    --wrapper-padding: 50px;
  }
}

@media (min-width: 968px) {
  :root{
    --wrapper-padding: 75px;
  }
}

@media (min-width: 1280px) {
  :root{
    --wrapper-padding: 100px;
  }
}

@media (min-width: 1440px) {
  :root{
    --wrapper-padding: 0px;
  }

  .wrapper {
    width: 1150px;
  }
}
