:root{
  --main-content-padding: 20px;

  --cards-block-height: 550px;

  --card-back-bg-color: #ffffff;
  --card-back-color: #000000;
  --card-back-padding: 10px;
  --card-back-title-font-size: 13px;
  --card-back-description-font-size: 12px;
  --card-back-button-bg-color: #47b9f8;
  --card-back-button-hover-bg-color: #0443a3;
  --card-back-button-color: #ffffff;
  --card-back-button-font-size: 17px;
  --card-back-button-padding: 10px 35px;

  --card-front-default-color: #ffffff;
  --card-front-secondary-color: #000000;

  --logo-card-front-bg-color: #ffffff;
  --qa-card-front-bg-color: #57bf77;
  --js-card-front-bg-color: #f7d06a;
  --java-card-front-bg-color: #e1374c;
  --php-card-front-bg-color: #8892c0;
  --net-card-front-bg-color: #642477;
  --events-card-front-bg-color: #3299f7;
  --blog-card-front-bg-color: #0443a3;
  --contacts-card-front-bg-color: #00265f;

  --qa-card-front-bg-font-size: 30px;
  --js-card-front-bg-font-size: 40px;
  --java-card-front-bg-font-size: 20px;
  --php-card-front-bg-font-size: 35px;
  --net-card-front-bg-font-size: 35px;
  --info-cards-front-bg-font-size: 14px;
}

.main {
  box-sizing: border-box;
  min-height: 100vh;
  padding-top: calc(var(--main-content-padding) + var(--header-height));
  padding-bottom: calc(var(--main-content-padding) + var(--footer-height));
}

.cards {
  display: grid;
  height: var(--cards-block-height);

  grid-template-areas: "logo js"
  "info info"
  "java php"
  "qa net";
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 35% 20% repeat(2, 22.5%);
  ;
}

.card {
  position: relative;
}

.card__back,
.card__front {
  position: absolute;

  width: 100%;
  height: 100%;
}

.card__back {
  z-index: 2;

  box-sizing: border-box;
  overflow: auto;

  font-weight: 600;

  background: var(--card-back-bg-color);
}

.card--logo .card__back,
.card--contacts .card__back {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card__back__title {
  margin: 0;
  padding: var(--card-back-padding);

  font-weight: 600;
  font-size: var(--card-back-title-font-size);
  line-height: 140%;
  color: var(--card-back-title-color);
}

.card__back__description {
  margin: 0;
  padding: var(--card-back-padding);

  font-weight: 400;
  font-size: var(--card-back-description-font-size);
  line-height: 110%;
}

.card__back__button {
  padding: var(--card-back-button-padding);

  font-size: var(--card-back-button-font-size);
  color: var(--card-back-button-color);

  background-color: var(--card-back-button-bg-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.card__back__button:hover {
  background-color: var(--card-back-button-hover-bg-color);
}

.card__front {
  z-index: 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: var(--card-front-default-color);
}

.card:hover .card__front {
  z-index: 1;
}

.card--logo {
  grid-area: logo;
}

.card--logo .card__front {
  background-color: var(--logo-card-front-bg-color);
}

.card--logo img {
  width: 50%;
}

.card--qa {
  grid-area: qa;
}

.card--qa .card__front {
  background-color: var(--qa-card-front-bg-color);
}

.card--qa .card__front__title {
  font-weight: 400;
  font-size: var(--qa-card-front-bg-font-size);
  text-transform: uppercase;
}

.card--js {
  grid-area: js;
}

.card--js .card__front {
  display: block;

  background-color: var(--js-card-front-bg-color);
}

.card--js .card__front__title {
  position: absolute;
  right: 5%;
  bottom: 0;

  margin: 0;

  font-weight: 600;
  font-size: var(--js-card-front-bg-font-size);
  color: var(--card-front-secondary-color);
  text-transform: uppercase;
}

.card--java {
  grid-area: java;
}

.card--java .card__front {
  background-color: var(--java-card-front-bg-color);
}

.card--java .card__front__title {
  font-weight: 400;
  font-size: var(--java-card-front-bg-font-size);
}

.card--php {
  grid-area: php;
}

.card--php .card__front {
  background-color: var(--php-card-front-bg-color);
}

.card--php .card__front__title {
  font-style: italic;
  font-weight: 400;
  font-size: var(--php-card-front-bg-font-size);
  color: var(--card-front-secondary-color);
  text-transform: lowercase;
}

.card--net {
  grid-area: net;
}

.card--net .card__front {
  background-color: var(--net-card-front-bg-color);
}

.card--net .card__front__title {
  font-weight: 400;
  font-size: var(--net-card-front-bg-font-size);
  text-transform: uppercase;
}

.card__container {
  display: grid;

  grid-area: info;
  grid-template-columns: 37.5% 37.5% 25%;
}

.card__container .card__front__title {
  font-weight: 400;
  font-size: var(--info-cards-front-bg-font-size);
}

.card--events .card__front {
  background-color: var(--events-card-front-bg-color);
}

.card--blog .card__front {
  background-color: var(--blog-card-front-bg-color);
}

.card--contacts .card__front {
  background-color: var(--contacts-card-front-bg-color);
}

.card__flip {
  position: relative;

  width: 100%;
  height: 100%;

  transform-style: preserve-3d;

  transition: all 0.5s linear;
}

.card:hover .card__flip {
  transform: rotateY(180deg);
}

.card:hover .card__flip--alternate {
  transform: rotateX(180deg);
}

.card__flip .card__back,
.card__flip .card__front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.card__flip .card__back {
  transform: rotateY(180deg);
}

.card__flip--alternate .card__back {
  transform: rotateX(180deg);
}


.card--scale .card__front {
  transition: all 0.5s linear;
}

.card--scale:hover .card__front {
  transform: scale(0);
}

.card--scale-bottom .card__front,
.card--scale-top .card__front {
  transform: scaleY(1);

  transition: all 0.3s linear;
}

.card--scale-bottom .card__front {
  transform-origin: bottom;
}

.card--scale-top .card__front {
  transform-origin: top;
}

.card--scale-bottom:hover .card__front,
.card--scale-top:hover .card__front {
  transform: scaleY(0);
}

.card--scale-right .card__front {
  transform: scaleX(1);
  transform-origin: right;

  transition: all 0.3s linear;
}

.card--scale-right:hover .card__front {
  transform: scaleX(0);
}

.social__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 85px;
}

.social__item {
  width: 22px;
  height: 22px;

  -webkit-filter: brightness(0);
          filter: brightness(0);
}

.social__item:hover {
  -webkit-filter: brightness(1);
          filter: brightness(1);
}

.social__icon {
  width: 100%;
  height: 100%;
}



@media (min-width: 659px) {
  :root{
    --main-content-padding: 50px;
    --cards-block-height: 750px;
    --card-back-padding: 20px;
    --card-back-title-font-size: 17px;
    --card-back-description-font-size: 15px;

    --qa-card-front-bg-font-size: 55px;
    --js-card-front-bg-font-size: 65px;
    --java-card-front-bg-font-size: 30px;
    --php-card-front-bg-font-size: 50px;
    --net-card-front-bg-font-size: 55px;
    --info-cards-front-bg-font-size: 15px;
  }

  .cards {
    grid-template-areas: "logo js js info"
    "java java php php"
    "qa qa net net";
    grid-template-columns: 45% 5% 30% 20%;
    grid-template-rows: 44% repeat(2, 28%);
  }

  .card__container {
    grid-template-columns: auto;
    grid-template-rows: 40% 40% 20%;
  }

  .social__list {
    flex-direction: row;
    width: 110px;
    height: auto;
  }

  .social__item {
    width: 28px;
    height: 28px;
  }
}


@media (min-width: 968px) {
  :root{
    --cards-block-height: 450px;
  }

  .cards {
    grid-template-areas: "logo js php php"
    "logo js net info"
    "qa js net info"
    "qa java net info";
    grid-template-columns: repeat(2, 25%) 30% 20%;
    grid-template-rows: 37.5% 12.5% repeat(2, 25%);
  }
}

@media (min-width: 1440px) {
  :root{
    --cards-block-height: 600px;
    --card-back-title-font-size: 20px;
    --card-back-description-font-size: 17px;

    --qa-card-front-bg-font-size: 85px;
    --js-card-front-bg-font-size: 95px;
    --java-card-front-bg-font-size: 45px;
    --php-card-front-bg-font-size: 90px;
    --net-card-front-bg-font-size: 95px;
    --info-cards-front-bg-font-size: 16px;
  }
}
