:root{
  --notification-width: 200px;
  --notification-padding: 15px;
  --notification-color: #ffffff;
  --notification-title-font-size: 16px;
  --notification-message-font-size: 15px;

  --notification-error-bg-color: #ff0000;
  --notification-success-bg-color: #008000;
  --notification-info-bg-color: 	#0000ff;
  --notification-warning-bg-color: #ffa500;

  --notification-error-icon: url(../assets/notification-error-icon.svg);
  --notification-success-icon: url(../assets/notification-success-icon.svg);
  --notification-info-icon: url(../assets/notification-info-icon.svg);
  --notification-warning-icon: url(../assets/notification-warning-icon.svg);
}

.notifications {
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 100;

  width: var(--notification-width);
  height: auto;
  padding-top: var(--notification-padding);
  padding-right: var(--notification-padding);
}

.notification {
  position: relative;

  box-sizing: border-box;
  margin-bottom: 15px;
  padding: var(--notification-padding);
  padding-left: 60px;

  color: var(--notification-color);

  border-radius: 5px;
  opacity: 0.7;
}

.notification--error {
  background-color: var(--notification-error-bg-color);
}

.notification--success {
  background-color: var(--notification-success-bg-color);
}

.notification--info {
  background-color: var(--notification-info-bg-color);
}

.notification--warning {
  background-color: var(--notification-warning-bg-color);
}

.notification:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 17.5px;

  width: 25px;
  height: 25px;

  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 12px;
  border-radius: 50%;
  transform: translateY(-50%);
}

.notification--error:after {
  background-image: var(--notification-error-icon);
}

.notification--success:after {
  background-image: var(--notification-success-icon);
  background-size: 14px;
}

.notification--info:after {
  background-image: var(--notification-info-icon);
}

.notification--warning:after {
  background-image: var(--notification-warning-icon);
  background-size: 14px;
}

.notification__title {
  margin-top: 0;
  margin-bottom: -10px;

  font-weight: 600;
  font-size: var(--notification-title-font-size);
}

.notification__message {
  margin-bottom: 0;

  font-weight: 400;
  font-size: var(--notification-message-font-size);
}
